<p id="notice"><%= notice %></p>

<h1>Listing Commercials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commercials.each do |commercial| %>
      <tr>
        <td><%= commercial.name %></td>
        <td><%= link_to 'Show', commercial %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commercial', new_commercial_path %>
